body {
        margin: 0;
        font-family:'Times New Roman', Times, serif;
        overflow: hidden;
    }

    #intro {
        text-align: center;
        padding: 20px;
        width: 100%;
        height: 60px;
        background: #f4f4f4;
        position:fixed;
        /* display:inline-block */
    }

    .container {
        padding: 20px;
        position: relative;
        bottom: 100px;
        /* top: 100px; */
        /* left: 250px; */
        overflow-y:scroll;
    }

    .layout-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        padding: 10px;
        padding-left: 250px;
        top: 100px;
    }

    #taskbar{
        width: 250px;
        background-color: navy;
        position:fixed;
        top: 100px;
        height: 600px;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
    }
    
    .generated-layout {
        position: relative;
        width: 500px;
        height: 250px;
        border: 1px solid #ccc;
        padding: 50px;
        box-sizing: border-box;
        text-align: center;
        display: inline-block;
        background-color:cadetblue;
    }

    p {
        margin: 0;
    }

    .taskbar-button{
        display: block;
        padding: 15px 20px;
        margin-top: 20px;
        background-color: blue;
        font-size: 16px;
        font-style:oblique;
        border: 0px;
    }